---
	import Base from '../layout/Base.astro'
	import Home from '../components/Home.astro'
	import Politicas from '../components/Politicas.astro'
	import Terminos from '../components/Terminos.astro'
	import Footer from '../components/Footer.astro'
---

<Base title="NIARA | Asistente Virtual Financiero 🤖">
	<div class="w-full flex justify-center h-full min-h-[100vh]">
		<div class="lg:w-[80%] sm:w-[85%] w-full h-full min-h-[100vh] flex justify-center items-center my-20 md:my-15 ">
			<Home/>
		</div>
	</div>
	<div class="w-full flex justify-center h-full bg-[#FF7A00]" id="politicas">
		<div class="lg:w-[65%] md:w-[75%] sm:w-[85%] w-full h-full flex justify-center items-center my-20">
			<Politicas/>
		</div>
	</div>
	<div class="w-full flex flex-col items-center justify-center h-full" id="terminos">
		<div class="lg:w-[65%] md:w-[75%] sm:w-[85%] w-full h-full flex justify-center items-center my-20">
			<Terminos/>
		</div>
		<Footer />
	</div>
</Base>