<div class="w-full flex flex-row flex-wrap justify-center items-center gap-5">
    <div
        class="w-full max-w-md p-6 grid gap-6 border-[0.2px] border-gray-300 shadow-md rounded-lg transition-all hover:-translate-y-1 hover:border-[#ff7a00]"
    >
        <div class="flex items-center gap-4">
            <div
                class="bg-[#FF7A00] rounded-md p-3 flex items-center justify-center"
            >
                <i class="fa-solid fa-fire text-white"></i>
            </div>
            <h3 class="text-2xl font-bold">
                Planificación Financiera Intuitiva
            </h3>
        </div>
        <p class="text-muted-foreground">
            NIARA ofrece herramientas fáciles de usar que permiten a las
            usuarias planificar sus finanzas personales y empresariales de
            manera efectiva.
        </p>
    </div>
    <div
        class="w-full max-w-md p-6 grid gap-6 border-[0.2px] border-gray-300 shadow-md rounded-lg transition-all hover:-translate-y-1 hover:border-[#ff7a00]"
    >
        <div class="flex items-center gap-4">
            <div
                class="bg-[#FF7A00] rounded-md p-3 flex items-center justify-center"
            >
                <i class="fa-regular fa-paper-plane text-white"></i>
            </div>
            <h3 class="text-2xl font-bold">Decisiones Informadas</h3>
        </div>
        <p class="text-muted-foreground">
            Las herramientas de NIARA proporcionan datos y análisis que ayudan a
            las emprendedoras a tomar decisiones financieras fundamentadas y
            seguras.
        </p>
    </div>
    <div
        class="w-full max-w-md p-6 grid gap-6 border-[0.2px] border-gray-300 shadow-md rounded-lg transition-all hover:-translate-y-1 hover:border-[#ff7a00]"
    >
        <div class="flex items-center gap-4">
            <div
                class="bg-[#FF7A00] rounded-md p-3 flex items-center justify-center"
            >
                <i class="fa-solid fa-chart-simple text-white"></i>
            </div>
            <h3 class="text-2xl font-bold">Control y Proyección Financiera</h3>
        </div>
        <p class="text-muted-foreground">
            NIARA facilita el control de ingresos, gastos y deudas, permitiendo
            a las usuarias proyectar su futuro financiero y el de sus negocios
            con mayor precisión.
        </p>
    </div>
    <div
        class="w-full max-w-md p-6 grid gap-6 border-[0.2px] border-gray-300 shadow-md rounded-lg transition-all hover:-translate-y-1 hover:border-[#ff7a00]"
    >
        <div class="flex items-center gap-4">
            <div
                class="bg-[#FF7A00] rounded-md p-3 flex items-center justify-center"
            >
                <i class="fa-solid fa-person-dress text-white"></i>
            </div>
            <h3 class="text-2xl font-bold">Enfoque de Género</h3>
        </div>
        <p class="text-muted-foreground">
            Diseñada específicamente para mujeres, NIARA entiende y responde a
            las necesidades particulares de las mujeres emprendedoras y
            freelancers.
        </p>
    </div>
    <div
        class="w-full max-w-md p-6 grid gap-6 border-[0.2px] border-gray-300 shadow-md rounded-lg transition-all hover:-translate-y-1 hover:border-[#ff7a00]"
    >
        <div class="flex items-center gap-4">
            <div
                class="bg-[#FF7A00] rounded-md p-3 flex items-center justify-center"
            >
                <i class="fa-solid fa-check text-white"></i>
            </div>
            <h3 class="text-2xl font-bold">Accesibilidad</h3>
        </div>
        <p class="text-muted-foreground">
            Disponible en cualquier momento y desde cualquier lugar, permitiendo
            a las usuarias gestionar sus finanzas de forma conveniente y
            flexible.
        </p>
    </div>
</div>
