<footer class="w-full flex justify-center items-center shadow-lg h-10">
    <p class="text-center font-bold">© 2024 NIARA - CONSTRUIDA POR <span class="hover:-translate-y-1 hover:scale-105 transition-all"><a href="https://github.com/fxckcode" class="text-[#FF7A00]">DIEGO DURAN</a></span></p>
</footer>