<footer class="w-full flex justify-center items-center shadow-lg h-10">
    <p class="text-center font-bold text-[10px] md:text-base">Copyright © 2024 Naranja Erp. Todos los derechos reservados. <span class="hover:-translate-y-1 hover:scale-105 transition-all"><a href="#politicas" class="text-[#FF7A00]">Política de privacidad</a></span></p>
</footer>