<footer class="w-full flex justify-center items-center shadow-lg h-10">
    <p class="text-center font-bold">© 2024 NIARA - CONTRUIDA POR <a href="https://github.com/fxckcode" class="text-[#FF7A00] hover:-translate-y-1 hover:scale-105 transition-all">DIEGO DURAN</a></p>
</footer>