<div class="w-full h-auto">
    <div class="w-full flex flex-row gap-2 lg:px-10 px-2">
        <div class="flex flex-col gap-2 w-full">
            <h1 class="font-bold text-2xl text-[#FF7A00]">Bienvenida a NIARA! <span class="hover:animate-spin">👋</span></h1>
            <p>¡Hola y bienvenida a NIARA! Un asistente virtual financiero con enfoque de género , desarrollado por NARANJA ERP AND ACADEMY SAS.</p>
            <p>Estamos encantadas de que te unas a nuestra comunidad de mujeres emprendedoras y freelancers que, como tú, desean llevar el control de sus finanzas personales y empresariales de manera organizada y eficiente.</p>
            <p>NIARA es un asistente virtual que funciona a través de WhatsApp. Para poder interactuar con NIARA, es necesario que el usuario tenga una cuenta de WhatsApp activa y que se encuentre en la lista de contactos de NIARA. Para poder ser agregado a la lista de contactos de NIARA, es necesario que el usuario se registre en la plataforma confirmando su número de teléfono y aceptando los términos y condiciones de uso de NIARA y debe cumplir con las políticas de uso de WhatsApp.</p>
            <p>Actualmente, NIARA se encuentra en versión alpha y estamos trabajando para mejorar su experiencia de uso. Próximamente estaremos lanzando la versión beta.</p>
            <p>NIARA es una plataforma diseñada especialmente para ti. Nuestro enfoque de género nos permite ofrecerte herramientas intuitivas y personalizadas que facilitarán tu planificación financiera, ayudándote a tomar decisiones informadas y alcanzar tus objetivos económicos con confianza y seguridad.</p>
            <p>En NIARA, cada emprendedora tiene a su alcance un instrumento poderoso que le ayudará a proyectar y controlar su futuro financiero, y el de su emprendimiento. Nuestro objetivo es apoyarte en cada paso del camino hacia el éxito financiero.</p>
            <p>Para comenzar, solo necesitas registrar tu nombre, apellido y correo electrónico. Te ofrecemos tanto una versión gratuita como una versión paga, para que elijas la que mejor se adapte a tus necesidades.</p>
            <p>Gracias por elegir NIARA. Estamos aquí para acompañarte y brindarte las herramientas que necesitas para triunfar.</p>
            <strong>¡Bienvenida a bordo!</strong>
            <div class="w-full flex justify-center items-center">
                <button class="p-3 rounded shadow bg-[#FF7A00] text-white font-semibold transition-all hover:-translate-y-1">Próximamente... ⚒️</button>
            </div>
        </div>
        <!-- <div class="w-[50%]"></div> -->
    </div>
</div>