<nav class="w-full h-14 flex justify-center items-center fixed top-0 backdrop-blur-sm">
    <ul class="flex flex-row gap-5">
        <li class="hover:translate-y-1 hover:font-semibold transition-all text-sm md:text-base">
            <a href="#politicas">Política de privacidad</a>
        </li>
        <li class="hover:translate-y-1 hover:font-semibold transition-all text-sm md:text-base">
            <a href="#terminos">Términos y condiciones</a>
        </li>
    </ul>
</nav>