<div class="w-full h-auto">
    <div class="flex flex-col gap-4 w-full text-white">
        <h2 class="text-2xl font-bold text-center">Política de privacidad</h2>
        <div class="flex flex-col gap-3">
            <div class="flex flex-col gap-1">
                <strong>1. Introducción</strong>
                <p>
                    En NARANJA ERP AND ACADEMY S.A.S., valoramos su privacidad y
                    estamos comprometidos con la protección de sus datos
                    personales. Esta política explica cómo recopilamos,
                    utilizamos y protegemos su información personal cuando
                    utiliza nuestro asistente financiero virtual NIARA a través
                    de WhatsApp.
                </p>
            </div>
            <div class="flex flex-col gap-1">
                <strong>2. ¿Qué información recopilamos?</strong>
                <p>
                    Recopilamos información personal que usted nos proporciona
                    directamente a través de WhatsApp, como su nombre, número de
                    teléfono, dirección de correo electrónico, y otra
                    información que usted elija proporcionar. También
                    recopilamos información sobre cómo utiliza nuestro asistente
                    financiero virtual NIARA, como las consultas que realiza y
                    las respuestas que recibe.
                </p>
            </div>
            <div class="flex flex-col gap-1">
                <strong>3. ¿Cómo utilizamos su información?</strong>
                <p>
                    Utilizamos su información personal para proporcionarle
                    mejores respuestas a sus consultas, mejorar nuestro
                    asistente financiero virtual NIARA, y comunicarnos con usted
                    sobre nuestros productos y servicios.
                </p>
            </div>
            <div class="flex flex-col gap-1">
                <strong>4. ¿Compartimos su información?</strong>
                <p>
                    NARANJA ERP AND ACADEMY S.A.S. no venderá, alquilará ni
                    compartirá su información personal con terceros sin su
                    consentimiento, excepto en los siguientes casos: <br />
                    - Para cumplir con leyes, regulaciones y procesos legales aplicables.
                    <br />
                    - Para proteger los derechos y la seguridad de NARANJA ERP AND
                    ACADEMY S.A.S., nuestros usuarios y el público
                </p>
            </div>
            <div class="flex flex-col gap-1">
                <strong>5. Seguridad de la Información</strong>
                <p>
                    Implementamos medidas de seguridad adecuadas para proteger
                    su información personal contra acceso no autorizado,
                    alteración, divulgación o destrucción. Sin embargo, no
                    podemos garantizar la seguridad absoluta de su información
                    transmitida a través de Internet.
                </p>
            </div>
            <div class="flex flex-col gap-1">
                <strong>6. Retención de Datos</strong>
                <p>
                    Conservamos su información personal durante el tiempo
                    necesario para cumplir con los fines para los cuales fue
                    recopilada, incluyendo cualquier requerimiento legal,
                    contable o de informes.
                </p>
            </div>
            <div class="flex flex-col gap-1">
                <strong>7. Derechos del Usuario</strong>
                <p>
                    De acuerdo con la Ley 1581 de 2012 y el Decreto 1377 de
                    2013, usted tiene derecho a: <br />
                    - Conocer, actualizar y rectificar sus datos personales. <br
                    />
                    - Solicitar prueba de la autorización otorgada. <br />
                    - Ser informado sobre el uso de sus datos personales. <br />
                    - Presentar quejas ante la Superintendencia de Industria y Comercio.
                    <br />
                    - Revocar la autorización y/o solicitar la supresión de sus datos
                    personales.
                </p>
            </div>
            <div class="flex flex-col gap-1">
                <strong>8. Contacto</strong>
                <p>
                    Si tiene alguna pregunta o inquietud sobre esta Política de
                    Privacidad, puede contactarnos a través del correo
                    electrónico oficial de NARANJA ERP AND ACADEMY S.A.S. para
                    NIARA: correo de contacto INFO@NIARA.COM.CO <br />

                    Estas políticas están diseñadas para cumplir con las leyes y
                    normativas colombianas, incluyendo la Ley 1581 de 2012 sobre
                    Protección de Datos Personales y el Decreto 1377 de 2013.
                </p>
            </div>
            <div class="flex flex-col gap-1">
                <strong>9. Cambios en la Política de Privacidad</strong>
                <p>Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Le notificaremos cualquier cambio significativo a través de WhatsApp o por correo electrónico.</p>
            </div>
        </div>
    </div>
</div>
