<div class="w-full h-auto">
    <div class="flex flex-col gap-4 w-full">
        <h2 class="text-2xl font-bold text-center">Términos y Condiciones</h2>
        <div class="flex flex-col gap-3">
            <div class="flex flex-col gap-1">
                <strong>1. Introducción</strong>
                <p>
                    Bienvenido a NIARA , un asistente financiero virtual
                    desarrollado por NARANJA ERP AND ACADEMY S.AS. Al acceder y
                    utilizar nuestros servicios a través de WhatsApp, usted
                    acepta y está de acuerdo con estos Términos y Condiciones.
                    Por favor, lea detenidamente estos términos antes de usar
                    NIARA.
                </p>
            </div>
            <div class="flex flex-col gap-1">
                <strong>2. Uso de nuestros servicios</strong>
                <p class="mb-1">
                    NIARA es una plataforma innovadora diseñada especialmente
                    para mujeres emprendedoras y freelancers, que desean
                    gestionar sus finanzas personales y empresariales, de manera
                    organizada y eficiente. Este software con enfoque de género,
                    ofrece herramientas intuitivas y personalizadas para
                    facilitar la planificación financiera, lo que permite a sus
                    usuarias tomar decisiones informadas para alcanzar sus
                    objetivos económicos con confianza y seguridad. Con NIARA,
                    cada emprendedora tiene a su alcance un instrumento que le
                    ayudará a proyectar y controlar su futuro financiero, y el
                    de su emprendimiento.
                </p>
                <p class="mb-1">
                    Las usuarias pueden acceder a NIARA a través de un registro
                    que incluye su nombre, apellido y correo electrónico.
                    Ofrecemos tanto una versión gratuita como una versión paga
                    del servicio.
                </p>
                <p>
                    El servicio con versión gratuita ofrece funcionalidades
                    básicas y una versión paga que incluye características
                    avanzadas. Los detalles sobre los precios y las
                    características de cada versión están disponibles en nuestra
                    plataforma.
                </p>
            </div>
            <div class="flex flex-col gap-1">
                <strong>3. Registro y Cuentas</strong>
                <p>
                    Para utilizar NIARA es necesario registrarse proporcionando
                    información personal precisa y completa, incluyendo nombre,
                    apellido y correo electrónico. Estos datos serán tratados de
                    acuerdo a nuestra a nuestra política de privacidad. Usted es
                    responsable de mantener la confidencialidad de su cuenta y
                    de todas las actividades que ocurran bajo su cuenta.
                </p>
            </div>
            <div class="flex flex-col gap-1">
                <strong>4. Uso del servicio</strong>
                <p class="mb-1">
                    El uso de NIARA está destinado únicamente a individuos
                    mayores de edad con capacidad legal para celebrar contratos
                    vinculantes. Usted se compromete a utilizar NIARA de manera
                    legal y apropiada, respetando todas las leyes y regulaciones
                    aplicables.
                </p>
                <p class="mb-1">
                    La usuaria asumirá la responsabilidad de todo lo que suceda
                    con el celular que se haya utilizado para el registro en
                    NIARA, por lo tanto, le corresponde realizar todas las
                    acciones o denuncias pertinentes en caso de fraudes o
                    plagios.
                </p>
                <p>
                    NIARA se reserva el derecho de admisión o no de la usuaria,
                    en especial cuando se presenten comportamientos u omisiones
                    que afecten el buen nombre de la plataforma. Por tanto,
                    NIARA se reserva el derecho a limitar, suspender, bloquear o
                    terminar su acceso a la plataforma, empleando cualquier
                    recurso técnico necesario para ello.
                </p>
            </div>
            <div class="flex flex-col gap-1">
                <strong>5. Modificaciones del Servicio</strong>
                <p>
                    NARANJA ERP AND ACADEMY S.A.S. se reserva el derecho de
                    modificar o descontinuar, temporal o permanentemente, el
                    servicio (o cualquier parte del mismo) con o sin previo
                    aviso. Usted acepta que NARANJA ERP AND ACADEMY S.A.S. no
                    será responsable ante usted ni ante ningún tercero por
                    cualquier modificación, suspensión o interrupción del
                    servicio.
                </p>
            </div>
            <div class="flex flex-col gap-1">
                <strong>6. Propiedad Intelectual</strong>
                <p class="mb-1">
                    Todos los derechos de propiedad intelectual relacionados con
                    NIARA, incluyendo pero no limitado a software, textos,
                    gráficos, logotipos, y cualquier otro material, son
                    propiedad de NARANJA ERP AND ACADEMY S.A.S. o sus
                    licenciantes y están protegidos por las leyes de propiedad
                    intelectual aplicables.
                </p>
                <p>
                    Usted no puede copiar, modificar, distribuir, vender o
                    alquilar ninguna parte de NIARA, ni puede crear trabajos
                    derivados basados en NIARA, sin el consentimiento previo por
                    escrito de NARANJA ERP AND ACADEMY S.A.S.
                </p>
            </div>
            <div class="flex flex-col gap-1">
                <strong>7. Limitación de Responsabilidad</strong>
                <p>En la máxima medida permitida por la ley, NARANJA ERP AND ACADEMY S.A.S. no será responsable por daños directos, indirectos, incidentales, especiales, consecuenciales o ejemplares, incluyendo pero no limitado a, daños por pérdida de beneficios, datos u otras pérdidas intangibles (incluso si NARANJA ERP AND ACADEMY S.A.S. ha sido advertido de la posibilidad de tales daños), resultantes del uso o la incapacidad de usar el servicio.</p>
            </div>
            <div class="flex flex-col gap-1">
                <strong>8. Ley Aplicable</strong>
                <p>Estos Términos y Condiciones se regirán e interpretarán de acuerdo con las leyes de la República de Colombia. Cualquier disputa que surja en relación con estos términos será sometida a la jurisdicción exclusiva de los tribunales competentes en Colombia.</p>
            </div>
        </div>
    </div>
</div>
